doctype html
html
  head
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/bootstrap-select.min.css')
    link(rel='stylesheet' href='/css/style.css')
    script(src='/js/jquery-3.1.1.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/bootstrap-select.js')
    script(src='/js/angular.min.js')
    script(src='/js/helper.js')
  body
    #main
      p= id
    #footer
      p Written By Harry Harim Park. Data from fortinet.com.
    script.
      console.log(id);
